%p
  %label{:for => "tweeter_name"} Name:
  = f.text_field :name
%p
  %label{:for => "tweeter_full_name"} Full name:
  = f.text_field :full_name
%p
  %label{:for => "tweeter_password"} Password:
  = f.text_field :password
%p
  %label{:for => "tweeter_email"} Email:
  = f.text_field :email
