%h1 New tweeter

= error_messages_for :tweeter

- form_for(:tweeter, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url