%h1 New tweet

= error_messages_for :tweet

- form_for(:tweet, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url