%p
  %label{:for => "news_query_name"} Name:
  = f.text_field :name
%p
  %label{:for => "news_query_query"} Query:
  = f.text_field :query
%p
  %label{:for => "news_query_site_restriction"} Site restriction:
  = f.text_field :site_restriction
%p
  %label{:for => "news_query_tweeter_id"} Tweeter:
  = f.text_field :tweeter_id
