%h1 New bill

= error_messages_for :bill

- form_for(:bill, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url