%p
  %strong Name:
  =h @bill.name
%p
  %strong Name:
  =h @bill.tweeter.name if @bill.tweeter
%p
  %strong Description:
  =h @bill.description
%p
  %strong Url:
  =h @bill.url
%p
  %strong Rss:
  =h @bill.feed_uri
%p
  %strong Tweeter:
  =h @bill.tweeter_id
%p
  %strong House:
  =h @bill.house
%p
  %strong Bill type:
  =h @bill.bill_type
%p
  %strong Categories:
  =h @bill.categories

= link_to 'Edit', edit_object_url
|
= link_to 'Back', collection_url