%h1 New news_item

= error_messages_for :news_item

- form_for(:news_item, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url