%p
  %label{:for => "entry_source_author_uri"} Author uri:
  = f.text_field :author_uri
%p
  %label{:for => "entry_source_author_name"} Author name:
  = f.text_field :author_name
%p
  %label{:for => "entry_source_item_host_uri"} Item host uri:
  = f.text_field :item_host_uri
