%h1= "#{@type} Sources"

%table
  %tr
    %th{:style => 'text-align: left'} Item Title
    %th{:style => 'text-align: left'} Item host URI
    %th{:style => 'text-align: left'} Author
    %th{:style => 'text-align: left'} Author URI
    %th{:style => 'text-align: left'} Approved
  = render :partial => 'entry_source', :collection => @entry_sources

%br/

=link_to 'New entry_source', new_object_url