%h1 New entry_source

= error_messages_for :entry_source

- form_for(:entry_source, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url